[submodule "detector/detectron2"]
	path = detector/detectron2
	url = https://github.com/facebookresearch/detectron2.git
[submodule "detector/VideoPose3D"]
	path = detector/VideoPose3D
	url = git@github.com:deep-dance/VideoPose3D.git
